@charset "UTF-8";


@mixin l-footer__default($device: all, $bp: sp-tb-pc) {
	$bp: $bp;

	%l-footer {

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

	%l-copy {

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

	%l-scrolltop {

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

	%l-fixedFooter {

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

}







