@charset "UTF-8";


@mixin l-header__default($device: all, $bp: sp-tb-pc) {
	$bp: $bp;

	%l-header {

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

			.l-header_logo, .l-header_h1 {
				.h {
					font-size: 1rem;
					line-height: 1;
				}
			}

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

	%l-headerNav {

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

}







