@charset "UTF-8";


@mixin p-sec__edit($device: all, $bp: sp-tb-pc) {
	$bp: $bp;

	.p-sec {

		//@extend %p-sec;

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

	.p-secBlog {

		//@extend %p-sec;

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

			iframe {
				width: 100%;
				height: 350px;
			}

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

			.txt {
				font-size: 1.4rem;
				line-height: 1.7;

			}
			.img + .txt, .txt + .img {
				margin-top: 20px;
			}

			.p-sec_s {
				padding-top: 20px;
			}

			.p-sec {
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.p-sec_h {
				padding-bottom: 30px;
				.lg {
					font-size: 1.8rem;
					border-bottom: solid 3px $clr_gy02;
					padding-bottom: 10px;
				}
			}
			.p-sec_c {
				& + .p-sec_c {
					margin-top: 30px;
				}
				.img {
					p {
						font-size: 1.2rem;
						margin-top: 3px;
					}
				}
			}


		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

			.txt {
				font-size: 1.6rem;
				line-height: 1.7;
			}
			.img + .txt, .txt + .img {
				margin-top: 20px;
			}

			.p-sec {
				padding-top: 40px;
				padding-bottom: 40px;
			}
			.p-sec_h {
				padding-bottom: 30px;
				.lg {
					font-size: 1.8rem;
					border-bottom: solid 3px $clr_gy02;
					padding-bottom: 10px;
				}
			}
			.p-sec_c {
				& + .p-sec_c {
					margin-top: 40px;
				}
				.img {
					p {
						font-size: 1.4rem;
						margin-top: 3px;
					}
				}
			}

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

}







