@charset "UTF-8";


@mixin l-spHeader__edit($device: all, $bp: sp-tb-pc) {
	$bp: $bp;

	.l-spHeader {

		//@extend %l-spHeader;

		$sz: all;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: sp;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: pc;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}

		$sz: tb;
		@include mq($device: $device, $bp: $bp, $sz: $sz) {

		}


	}

}







